.App {
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .columns-container {
    display: flex;
    justify-content: center;
  }
  
  .center-column {
    display: flex;
    align-items: center;
  }
  
  .centered-content {
    text-align: center;
  }
  
  .column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; /* Centrar verticalmente los elementos */
  }
  
  .column-image {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto; /* Centrar horizontalmente la imagen */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agregar sombra */
    transition: transform 0.3s ease; /* Agregar transición de transformación */
  }
  
  .column-image:hover {
    transform: scale(1.1); /* Aumentar el tamaño en el hover */
  }
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
  }
  
  th:nth-child(2), td:nth-child(2) {
    text-align: center; /* Centrar el contenido de la columna "Score" */
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  /*
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }*/
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .question-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .question-container h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .answer-option {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: white;
  
    &:hover {
      background-color: #a70808;
    }
  
    &.selected {
      background-color: yellow;
    }
  }

  .option-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &.selected {
      background-color: blue;
      color: white;
    }
  
    &:not(.selected) {
      background-color: gray;
      color: white;
    }
  
    &:hover:not(.selected) {
      background-color: lightgray;
    }
  }

  .time-input {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .separator {
    font-size: 24px;
    margin: 0 10px;
  }